google_api_python_client==2.97.0
google_auth_oauthlib==1.0.0
matplotlib==3.8.2
mplfinance==0.12.10b0
pandas==2.0.3
protobuf==4.25.2
stocksymbol==0.0.5
tqdm==4.65.0
XlsxWriter==3.1.2
yahooquery==2.3.7
yfinance==0.2.26
openpyxl==3.1.2
