# Stock Screening Output Files
data/consolidated_price_data.csv
data/filtered_symbols.csv
data/listing_status.csv
data/technical_results.csv


# Screen Result directory (exclude all files)
ScreenResult/screenResults.csv


# Authentication and API files
token.json
credentials.json

# pycache files
__pycache__/
