# Core data processing and analysis
pandas
numpy

# Financial data retrieval
yfinance
requests

# Progress tracking and user interface
tqdm

# Google Drive API integration
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Telegram integration
python-telegram-bot

#env
python-dotenv
openpyxl